* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display';
}

/* cabeçalho */
header {
    background-color: #051540;
}

li {
    list-style: none;
}

header .navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #D3D3D3;
    font-size: 20px;
}

#burguer {
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
}

#burguer :hover {
    background-color: white;
    color: black;
}
main{
    background-color: #CFD6DD;
    height: 800px;
    display: flex;
}
main div img{
    width: 35px;
    height: 35px;
}
.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.redes{
    display: flex;
    position: relative;
    top: 30px;
    left: 40%;
    background-color: #051540;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    color: #38B6FF;
    font-size: 40px;
    font-family: 'Big Shoulders Display';
    text-shadow: 3px 0 7px #38B6FF;
    text-align: center;
    padding-top: 2px;
    padding-left: 60px;
    gap: 10px;
}
.redes img{
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
}

.colunas{
    display: flex;
    justify-content: space-between;
    color: #F9D4FA;
    text-shadow: 3px 0 7px #F9D4FA;
    font-size: 28.3px;
}


.coluna-1{
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 250px;
    
    
}
.coluna-2{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    height: 250px;
    
}


/*rodape*/
footer {
    background-color: #051540;
    color: #fff;
    height: 300px;
    padding: 15px 40px 20px 40px;
    box-shadow: -10px -10px 10px 20px #051540;
}

footer li img {
    width: 20px;
    height: 20px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

.ajuda {
    padding-bottom: 15px;
    padding-left: 8px;
    font-size: 27.2px;
}

.i-privacidade {
    padding-top: 70px;
    font-size: 13.2px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.idioma {
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 40px;
    right: 20px;
}

.idioma img {
    width: 25px;
    height: 20px;
}

.i-termos {
    padding-top: 180px;
    font-size: 13.2px;
}

.lista {
    padding: 5px;
    font-size: 18.5px;
}

.lista li a {
    position: relative;
    top: -6px;
}

.n {
    padding-left: 9px;
}

.i {
    padding-left: 9px;
}

/*fim do rodape*/


@media(max-width:768px) {
    footer {
        height: 350px;
        padding: 25px 7px 10px 7px;
    }

    .idioma {
        position: relative;
        left: -1px;
        right: 5px;
    }

    .i-termos {
        padding-top: 182px;
        position: relative;
        right: -35px;
    }
}

@media only screen and (max-width:768px) {
    .menu-bar {
        display: block;
    }

    .menu-bar img {
        width: 60px;
        height: 60px;
    }

    #lista {
        display: none;
        text-align: left;
    }

    .menu-bar .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        width: 0;
        transition: width 0.5s;
        position: fixed;
        height: 100%;
    }

    .menu-bar:hover .menu-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        background: black;
    }

    #burguer {
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    #burguer :hover {
        background-color: white;
        color: black;
    }
}