* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display';
}

/* cabeçalho */
header {
    background-color: #051540;
}

li {
    list-style: none;
}

header .navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #D3D3D3;
    font-size: 20px;
}

/* animacao no apoie */
#apoie {
    background-color: #1F3AFF;
    height: 35px;
    width: 50px;
    padding: 7px;
    border-radius: 10px;
    animation: balanço 2s linear infinite;
    transition: 0.5s ease;
    text-align: center;
}

#apoie:hover {
    height: 40px;
    width: 55px;
    font-size: 20px;
}

#apoie a {
    transition: 0.5s;
}

#apoie:hover a {
    font-size: 20px;
}



@keyframes balanço {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

/* fim da animacao do apoie */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #6C7A86 ;
  }
  
  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    display: none;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
    display: none;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #051540, #051540);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 500px;
    transform: translate(-60%,-30%);
    display: none;
  }
  
  .sandubinha{
    display: none;
  }

@media only screen and (max-width:768px) {
    .sandubinha{
        display: block;
    }
    #menu-bar{
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .change-bg{
        display: block;
    }
    .nav ul{
        display: block;
    }
}


.menu-b {
    display: none;
}

#burguer {
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
    z-index: 32;
}

#burguer :hover {
    background-color: white;
    color: black;
}

#sanduiche {
    display: none;
}

/* conteudo */
main {
    background-color: #D3D3D3;
    height: 2100px;
    padding-top: 30px;
}

.art {
    color: #fff;
    font-size: 30px;
    display: flex;
    height: 500px;
    margin-bottom: 70px;
    margin-top: 70px;
}

#Texto-desalinhado {
    margin-top: 270px;
}

#texto-pequeno {
    margin-top: 50px;
}

main .txt .art img {
    height: 400px;
    width: 400px;
}

.txt {
    background-color: #051540;
    height: 1900px;
    margin-left: 30px;
    margin-right: 30px;

    color: #fff;
    padding: 30px;
    border-radius: 30px;
    text-align: justify;
}

.txtum {
    margin-left: 20px;
    text-align: justify;
}

#dir {
    margin-left: 0;
    margin-right: 25px;
}


/*rodape*/

footer {
    background-color: #051540;
    color: #fff;
    height: 300px;
    padding: 15px 40px 20px 40px;
    box-shadow: -10px -10px 10px 20px #051540;

}

footer li img {
    width: 20px;
    height: 20px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

.roda-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.ajuda {
    font-size: 27.2px;
}

.idioma {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.roda-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 13.2px;
}

.lista {
    padding: 5px;
    font-size: 18.5px;
}

.n {

    padding-left: 9px;

}

.idioma img {
    width: 25px;
    height: 20px;
}

.i {
    padding-left: 9px;
}

.lista li a {
    position: relative;
    top: -6px;
}

/*fim do rodape*/


@media(max-width:768px) {

    footer {
        height: 350px;
        padding: 25px 20px 10px 20px;
    }

}
@media only screen and (max-width:1080px) {
    main {
        height: auto;
        padding-bottom: 50px;
        width: 100%;
    }

    main .txt .art img {
        height: 250px;
        width: 350px;
        padding: 10px 10px 10px 10px;
    }

    h4 {
        font-size: 20px;
    }

    .txt {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: auto;
        margin: 10px;
        margin-bottom: 120px;
    }

    .art {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 30px;
    }

    .txtum {
        padding: 10px 10px 10px 10px;
        margin: auto;
    }

    #dir {
        margin: auto;
        padding: 10px 10px 10px 10px;
    }

    #Texto-desalinhado {
        margin: 0;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #texto-pequeno {
        margin: auto;
    }

    .foto-1 {
        padding: 0 auto;
    }

    #ultimo-texto {
        display: flex;
        flex-direction: column;
    }
}

    @media only screen and (max-width:768px) {
        header {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
        }

        .menu-bar {
            display: block;
        }

        .menu-bar img {
            width: 60px;
            height: 60px;
        }

        #lista {
            display: none;
            text-align: left;
        }

        #sanduiche {
            display: none;
        }

        .menu-b {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #051540;
            transition: width 1.5rem;
            position: fixed;
            gap: 100px;
            top: 0px;
            left: 0;
            z-index: 30;
            width: 35%;
            height: 100%;
            border-radius: 0 10px 10px 0;
        }

        .menu-bar .menu-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            width: 0;
            transition: width 0.5s;
            position: fixed;
            height: 100%;
        }

        .menu-bar:hover .menu-container {
            position: fixed;
            top: 0;
            right: 0;
            width: 70%;
            background: black;
        }

        #burguer {
            color: white;
            display: block;
            text-align: center;
            padding: 10px;
            cursor: pointer;
        }

        #burguer :hover {
            background-color: white;
            color: black;
        }

    }